/************* Cusctom Propeties *********/
:root {
  --first-color: #d90062;
  --first-alpha-color: rgba(217, 0, 98, 0.75);
  --second-color: #14192d;
  --second-alpha-color: rgba(20, 25, 45, 0.75);
  --third-color: #501464;
  --third-alpha-color: rgba(80, 20, 100, 0.75);
  --white-color: #fff;
  --gray-light-color: #f3f3f3;
  --gray-color: #ccc;
  --gray-dark-color: #666;
  --black-color: #000;
  --link-color: #0a6ecc; /* #ffffff; */
  --title-color: #333;
  --text-color: #222;
  --white-alpha-color: rgba(255, 255, 255, 0.5);
  --black-alpha-color: rgba(0, 0, 0, 0.5);
  --font: "Raleway", sans-serif;
  --max-width: 1200px;
  --header-height: 4rem;
}

/********************* Rest *********************/
html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
  scroll-behavior: smooth;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  /* overflow es lo que desborda el contenedor, para que oculte ya sea en x o y */
  overflow-x: hidden;
  color: var(--text-color);
}

a {
  color: var(--link-color);
  transition: all 0.5s ease-out;
}

a:hover {
  opacity: 0.75;
}

h1 {
  margin: 0;
  font-size: 2rem;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
}

h3 {
  margin: 0;
  font-size: 1.25rem;
}

h4 {
  margin: 0;
  font-size: 1rem;
}

h5 {
  margin: 0;
  font-size: 0.85rem;
}

h6 {
  margin: 0;
  font-size: 0.7rem;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  line-height: 1.6;
}
/***************** Components ******************/

/***************** Carousel ******************/

@keyframes carousel-slide {
  0% {
    transform: translateX(0%);
  }

  25% {
    transform: translateX(-25%);
  }

  50% {
    transform: translateX(-50%);
  }

  75% {
    transform: translateX(-75%);
  }
}
/* animación automática */
.carousel {
  margin: 2rem auto;
  padding: 2rem 0;
  max-width: 800px;
  text-align: center;
  overflow-x: hidden;
  background-color: var(--carousel-bg-color);
}

.carousel .slides {
  /* para el espacio que reemplaza el icono de lista  */
  padding-left: 0;
  /* 100% para cada slide, cuando se quiere agregar o disminuir */
  width: 400%;
  display: flex;
  list-style: none;
  transition: transform 0.5s ease-in-out;
  animation: carousel-slide 12s ease-in-out 3s;
}

.carousel input {
  display: none;
}

.carousel label {
  border: medium solid var(--gray-dark-color);
  border-radius: 50%;
  margin: 0 0.25rem;
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  cursor: pointer;
}

#slide-1:checked ~ .slides {
  /* modificar el porsentaje por el numero de slides para poder mover ya sea en positivo o negativo izquierda-derecha  */
  transform: translateX(0%);
}

#slide-2:checked ~ .slides {
  transform: translateX(-25%);
}

#slide-3:checked ~ .slides {
  transform: translateX(-50%);
}

#slide-4:checked ~ .slides {
  transform: translateX(-75%);
}

/* Para que los botones de checked se seleccionen */
#slide-1:checked ~ .slides-nav label#dot-1,
#slide-2:checked ~ .slides-nav label#dot-2,
#slide-3:checked ~ .slides-nav label#dot-3,
#slide-4:checked ~ .slides-nav label#dot-4 {
  background-color: var(--gray-dark-color);
}

/***************** Contact Form ******************/
.contact-form {
  margin: 2rem auto;
  padding: 1rem;
  max-width: 800px;
}

/* para todos los elementos de contact-form */
.contact-form > * {
  padding: 0.5rem;
  margin: 1rem auto;
  display: block;
  width: 100%;
}

/* aplica la misma fuente a los input y textarea */
.contact-form input,
.contact-form textarea {
  font-size: 0.85rem;
  font-family: var(--font);
}

.contact-form input {
  border: 0;
  padding-left: 0;
  border-bottom: thin solid var(--gray-dark-color);
}

.contact-form textarea {
  border: thin solid var(--gray-dark-color);
  resize: none;
}

/* Clase con selector de atributos */
.contact-form input[type="submit"] {
  margin-top: 0;
  cursor: pointer;
  transition: all 0.5s ease-out;
}
/* estado hover  */
.contact-form input[type="submit"]:hover {
  opacity: 0.75;
}

.contact-form *::placeholder {
  color: var(--gray-dark-color);
}

/*  diseño del modal, después de eviar por correo */
.contact-form-response {
  padding: 1rem;
  width: 400px;
  text-align: center;
  background-color: var(--white-color);
}

/* Diseño del svg del modal */
.contact-form-response svg {
  margin-top: 2rem;
  width: 4rem;
  height: 4rem;
  fill: var(--first-color);
}

/* activa el modal de gracias */
.modal#gracias:target {
  opacity: 1;
  pointer-events: auto;
}

@media screen and (min-width: 1024px) {
  .contact-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
  }
  .contact-form input,
  .contact-form textarea {
    font-size: 1rem;
  }

  /* Darle dos expacios con span para que ocupe las dos columnas */
  .contact-form textarea,
  .contact-form-loader,
  .button-form-submint {
    grid-column: span 2;
  }
  .contact-form input[type="submit"] {
    margin-left: 0;
  }
}

/***************** Heroimage ******************/
.hero-image {
  background-image: var(--hero-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: var(--hero-attachment);
}

.hero-image-opacity {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--hero-opacity-color);
}

.hero-image-title {
  font-size: 7.5vw;
  color: var(--hero-text-color);
}

/***************** Menu ******************/
/***************** Menu-movil ******************/
.menu-btn {
  outline: thin solid var(--first-color);
  border: 0;
  cursor: pointer;
  background-color: var(--second-color);
}
.menu-btn svg {
  fill: var(--first-color);
}

.menu {
  position: fixed;
  left: 0;
  bottom: var(--header-height);
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--second-color);
  /* para que el menu inicie con una opacida en 0 y luego activar con javaScript */
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}

/* se va a activar la clase con javaScript para que aparezca los items */
.menu.is-active {
  opacity: 1;
  pointer-events: auto;
}

.menu a {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--first-color);
}

.menu a:hover {
  color: var(--white-color);
  background-color: var(--first-color);
}

@media screen and (min-width: 1024px) {
  .menu-btn {
    display: none;
  }
  .menu {
    position: static;
    width: auto;
    flex-direction: row;
    opacity: 1;
    pointer-events: auto;
  }

  .menu a {
    padding: 0 1rem;
  }
}
.menu a:last-child {
  padding-right: 0;
}

.menu a:hover {
  background-color: transparent;
}

/*................. Modal ...................*/
.modal {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black-alpha-color);
  opacity: 0;
  pointer-events: none;
  /* Segundos para abrir el modal con transición */
  transition: all 0.3s;
}

.modal-content {
  position: relative;
}

.modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.modal-close svg {
  width: 3rem;
  height: 3rem;
  fill: var(--first-color);
}

.modal[id|="trabajo"]:target {
  opacity: 1;
  pointer-events: auto;
}

/* ........... PROGRESS-BAR ........... */
progress {
  width: 100%;
  height: 1rem;
  background-color: var(--gray-color);
}

progress::-webkit-progress-bar {
  /*  para llegar al 100 del color  */
  background-color: var(--gray-color);
}

progress::-webkit-progress-value {
  /*  color del porcentaje marcado */
  background-color: var(--gray-dark-color);
}

/* Para que agarre color en firefox el value */
progress::-moz-progress-bar {
  background-color: var(--gray-dark-color);
}

.progress {
  margin: 1rem auto;
}

.progress > p {
  margin: 0;
  display: flex;
  justify-content: space-between;
  font-size: 0.85rem;
}

/******************* Utilitis *******************/
/* imagenes del carousel */

.avatar {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

/* para el fondo en los servicios */
.bg-gray-light {
  background-color: var(--gray-light-color);
}
.box-shadow-1 {
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.25);
}

.btn {
  border-radius: 0.5rem;
  padding: 1rem;
  display: inline-block;
  width: 200px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--white-color);
  background-color: var(--first-color);
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
}

/* Grises en la foto, si dedeas ELIMINAR */
.gray-scale {
  filter: grayscale(1);
}

.none {
  display: none;
}

/* es para el espacios de las secciones inicio y acerca */
.section {
  padding: 2rem 1rem;
}

/* Colores de los titulos */
.section-title {
  border-top: thin solid var(--first-color);
  border-bottom: thin solid var(--first-color);
  margin: 2rem auto;
  padding: 0.5rem 1rem;
  width: 250px;
  text-align: center;
  color: var(--title-color);
}

/* Color del titulo del carousel */
.text-first-color {
  color: var(--first-color);
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

@media screen and (min-width: 1024px) {
  .full-lg-screen {
    width: 100%;
    min-height: 100vh;
  }

  .text-lg-center {
    text-align: center;
  }

  .text-lg-left {
    text-align: left;
  }

  .text-lg-right {
    text-align: right;
  }
}

/****************** Site styles *****************/

/* espacio de descargar cv foto y habilidades */
.about > article {
  margin-bottom: 2rem;
}

/* Cartas de contacto */
.contact-card {
  width: 100%;
  height: 144px;
  padding: 1rem;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.contact-card > small {
  margin-top: -1rem;
}

.contact-card > svg {
  width: 2rem;
  height: 2rem;
  fill: var(--first-color);
}

.footer {
  margin-bottom: var(--header-height);
  padding: 0.5rem;
  text-align: center;
  color: var(--white-color);
  background-color: var(--third-color);
}

.header {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 999;
  padding: 1rem;
  width: 100%;
  height: var(--header-height);
  background-color: var(--second-color);
}
.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo a {
  color: var(--first-color);
  font-weight: bold;
  font-size: 2rem;
  text-decoration: none;
}

.portfolio-card {
  position: relative;
  width: 100%;
  margin: 0 auto;
  display: block;
}

.portfolio-card img {
  width: 100%;
  height: 100%;
  /* Si las imágenes se deforman, pierden aspecto se usa object-fit */
  object-fit: cover;
}

.portfolio-card-info {
  /* Con absolute, top 0, left 0 los textos se posiciona dentro de la image*/
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  background-color: var(--first-alpha-color);
  color: var(--white-color);
  opacity: 0;
  pointer-events: none;
  /* Animación al seleccionar una tarjeta */
  transition: all 0.5s ease-in-out;
}

.portfolio-card-info > div {
  padding: 1rem;
  border: thin solid var(--white-color);
  width: 100%;
  height: 100%;
}

.portfolio-card:hover .portfolio-card-info {
  opacity: 1;
  pointer-events: auto;
}

.portfolio-modal {
  padding: 1rem;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: var(--white-color);
}

.portfolio-modal h3 {
  border-bottom: medium solid var(--first-color);
  margin: 1rem auto;
  padding: 0.5rem 0;
  color: var(--title-color);
}

.portfolio-details {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-auto-rows: 2rem;
}

.portfolio-details b {
  color: var(--first-color);
}

/* estilos para las tarjetas de servicio-que ofresco */
.service-card {
  margin: 1rem auto;
  padding: 1rem;
  text-align: center;
}

.service-card h3 {
  color: var(--title-color);
}

.service-card svg {
  margin-bottom: 1.25rem;
  fill: var(--first-color);
  height: 50px;
  width: 50px;
}

/* para quitar la decoración de los enlaces en social media */
.social-media a {
  padding: 0 0.4rem;
  text-decoration: none;
}

/* para el tamaño  de los íconos de los svg en este caso que crescan un poco más*/
.social-media svg {
  width: 1.5rem;
  height: 1.5rem;
}

/*......... codigo para tablet .........*/
@media screen and (min-width: 768px) {
  .contact-cards {
    display: grid;
    grid-template-columns: repeat(2, 48%);
    justify-content: space-between;
  }

  .portfolio > .container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }

  .portfolio .section-title {
    grid-column: span 2;
  }

  .services > .container {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    justify-content: space-between;
    align-content: center;
  }
  .services .section-title {
    grid-column: span 2;
  }

  /* Para abrir el modal con información, al estar declarado para tablets no hace falta hacerlo para escritorio */
  .portfolio-modal {
    max-width: 800px;
    flex-direction: row;
  }
  .portfolio-info {
    margin-left: 1rem;
    align-self: center;
  }
}

/* .........codigo para pc........ */
@media screen and (min-width: 1024px) {
  /*   se aplica grid de tres columnas para la sección de acerca en pantallas grandes */
  .about {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    justify-content: space-between;
    align-content: center;
  }

  .contact-cards {
    display: grid;
    grid-template-columns: repeat(4, 24%);
    justify-content: space-between;
  }

  .footer {
    margin-bottom: 0;
  }

  .header {
    position: sticky;
    /*  Stycky se coloca en donde queremos, por ello el top 0, para que esté en el incio */
    top: 0;
    padding: 0.5rem;
    height: calc(var(--header-height) - 0.5rem);
  }
  .portfolio > .container {
    grid-template-columns: repeat(3, 1fr);
  }

  .portfolio .section-title {
    grid-column: span 3;
  }

  .services > .container {
    grid-template-columns: repeat(3, 30%);
  }

  .services .section-title {
    grid-column: span 3;
  }
}
